@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif !important;
    user-select: none;
}

.app_outer__container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.list_item {
    background-color: var(--bg) !important;
}
